spring:
  datasource:
    url: jdbc:mysql://localhost:3306/community?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 990817
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug